.example-spacer {
  flex: 1 1 auto;
}

.content {
  height: calc(100vh - 64px);
  overflow: auto;
  margin-top: 10px;
}

mat-list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;

  .mat-list-item {
    height: auto;
  }
}

.info-container {
  display: flex;
  width: 80%;
  column-gap: 10px;

  p {
    margin: 0;
    width: 50%;
    word-wrap: break-word;
    word-break: normal;
  }
}

.button-container {
  margin-left: auto;
  display: flex;
  column-gap: 6px;
}

.spinner-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1064px) {
  mat-list {
    max-width: 768px;
  }
}

@media screen and (max-width: 808px) {
  mat-list {
    max-width: 375px;
  }

  .info-container {
    p {
      box-sizing: border-box;
      max-width: 89px;
    }
  }

  .button-container {
    column-gap: 0;

    button {
      mat-icon {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  mat-toolbar {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    padding-top: 10px;
    padding-bottom: 26px;
  }

  mat-list {
    max-width: 300px;
  }
}
